@font-face {
    font-family: "MazzardH-Regular";
    src: url('../fonts/MazzardH-Regular.otf');
}

@font-face {
    font-family: "Florence-Regular";
    src: url('../fonts/Florence-Regular.ttf');
}

@font-face {
    font-family: "Hearth-Stone";
    src: url('../fonts/Hearth-Stone.ttf');
}