/* HEADER */

.header .topo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: none;
  border: none;
  color: var(--branco);
}

.header .topo .ancora {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-top-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--amarelo);
  color: var(--branco);
  font-size: 1.8rem;
  transition: 0.1s ease-in-out;
}

.header .topo .ancora:active {
  transform: scale(1.1);
  background-color: var(--amarelo-claro);
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 7.5rem;
}

.header .logo {
  font-weight: 700;
  font-size: 2.5rem;
  transition: 0.3s ease-in-out;
  width: 175px;
}

.header .logo:hover {
  color: var(--amarelo)
}

/* HEADER */


/* HOME */

.home .conteudo {
  background-image: url(../images/bg-02.jpg);
  background-position: 250px;
  background-size: cover;

  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

.home .conteudo .imagem {
  width: 50%;
}

.home .conteudo .informacoes {
  width: 50%;
  padding: 0 4.4%;
  font-family: "MazzardH-Regular";
}

.home .conteudo .informacoes .texto,
.home .conteudo .informacoes .titulo {
  color: var(--amarelo-claro);
}

.home .conteudo .informacoes .titulo {
  font-size: 5rem;
  margin-bottom: 20px;
}

.home .conteudo .informacoes .texto {
  margin-bottom: 10px;
}

/* HOME */

/* CONTEÚDO-TEXTO */

.conteudo-principal .sobre {
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
}

.conteudo-principal .sobre .titulo,
.conteudo-principal .sobre .paragrafo {
  width: 50%;
}

.conteudo-principal .sobre .titulo {
  font-family: "Florence-Regular";
  color: var(--amarelo-claro);
  font-size: 3.5rem;
  padding: 0 50px;
  text-align: center;
  line-height: 1.5;
}

.conteudo-principal .sobre .paragrafo {
  font-family: "MazzardH-Regular";
  color: var(--branco);
  font-size: 2.4rem;
  padding: 0 65px;
}

/* CONTEÚDO-TEXTO */

/* LOCALIZAÇÃO */

.conteudo-principal .localizacao {
  background-image: url(../images/bg-02.jpg);
  background-position: 250px;
  background-size: cover;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.conteudo-principal .localizacao .imagem-localizacao {
  max-width: 73%;
}

.conteudo-principal .localizacao .caixa-de-texto {
  max-width: 25%;
  border: 2px solid var(--amarelo);
  border-left: none;
  border-bottom-right-radius: 60px;
}

.conteudo-principal .localizacao .caixa-de-texto .texto {
  text-transform: uppercase;
  font-family: "MazzardH-Regular";
  color: var(--amarelo-claro);
  font-size: 2.4rem;
  padding: 20px 50px;
}

/* LOCALIZAÇÃO */

/* DIFERENCIAIS */

.conteudo-principal .diferenciais {
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.conteudo-principal .diferenciais .titulo {
  font-family: "Florence-Regular";
  font-size: 3.5rem;
  color: var(--amarelo-claro);
  margin-bottom: 50px;
}

.conteudo-principal .diferenciais .topicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.conteudo-principal .diferenciais .topicos .topico {
  border-radius: 15px;
  background-color: var(--preto-translucido);
  max-width: 425px;
}

.conteudo-principal .diferenciais .topicos .topico .caixa-de-texto {
  padding: 12px;
  margin: 15px;
  border-left: 4px solid var(--amarelo);
}

.conteudo-principal
  .diferenciais
  .topicos
  .topico
  .container-subtitulo
  .subtitulo,
.conteudo-principal .diferenciais .topicos .topico .caixa-de-texto .texto {
  font-family: "MazzardH-Regular";
  color: var(--branco);
}

.conteudo-principal .diferenciais .topicos .topico .container-subtitulo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 15px 0 20px;
}

.conteudo-principal
  .diferenciais
  .topicos
  .topico
  .container-subtitulo
  .subtitulo {
  letter-spacing: 2px;
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.conteudo-principal .diferenciais .topicos .topico .container-subtitulo .icone {
  width: 48px;
}

.conteudo-principal .diferenciais .topicos .topico .caixa-de-texto .texto {
  font-size: 2rem;
  line-height: 1.5;
}

/* DIFERENCIAIS */

/* PLANTAS */

.conteudo-principal .plantas {
  background-image: url(../images/bg-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  padding: 50px 0;
  gap: 50px;
}

.conteudo-principal .plantas .titulo {
  text-align: center;
  font-family: "Florence-Regular";
  font-size: 3.5rem;
  color: var(--amarelo-claro);
}

.conteudo-principal .plantas .planta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.conteudo-principal .plantas .planta .caixa-de-texto {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.conteudo-principal .plantas .planta .caixa-de-texto .comodos {
  background-color: var(--amarelo);
  padding: 15px 90px;
}

.conteudo-principal .plantas .planta .caixa-de-texto .qtd-e-tamanho {
  font-family: "MazzardH-Regular";
  padding: 20px 40px;
}

.conteudo-principal
  .plantas
  .planta
  .caixa-de-texto
  .qtd-e-tamanho
  .qtd-quartos {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 7.5px;
  color: var(--branco);
}

.conteudo-principal .plantas .planta .caixa-de-texto .qtd-e-tamanho .metragens {
  font-size: 2.5rem;
  color: var(--branco);
}

.conteudo-principal .plantas .planta .caixa-de-texto .comodos .comodo {
  font-family: "MazzardH-Regular";
  color: var(--branco);
  line-height: 1.7;
}

/* PLANTAS */

/* EMPREENDIMENTO */

.conteudo-principal .empreendimento {
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 25px;
}

.conteudo-principal .empreendimento .conteudo .titulo {
  text-align: center;
  font-family: "Florence-Regular";
  font-size: 3.5rem;
  color: var(--amarelo-claro);
  padding-bottom: 25px;
}

.conteudo-principal .empreendimento .conteudo .texto {
  max-width: 310px;
  font-family: "MazzardH-Regular";
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--branco);
}

.conteudo-principal .empreendimento .slider {
  width: 100%;
  max-width: 768px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 15px;
}

.conteudo-principal .empreendimento .slider .slide {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.conteudo-principal .empreendimento .slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo-principal .empreendimento .slider .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: var(--amarelo);
  color: var(--branco);
  font-size: 2rem;
  transition: 0.1s ease-in-out;
}

.conteudo-principal .empreendimento .slider .btn:active {
  transform: scale(1.1);
  background-color: var(--amarelo-claro);
}
.conteudo-principal .empreendimento .slider .btn-prev {
  top: 45%;
  left: 2%;
  padding: 2px 2px 0 0;
}

.conteudo-principal .empreendimento .slider .btn-next {
  top: 45%;
  right: 2%;
  padding: 2px 0 0 2px;
}

/* EMPREENDIMENTO */

.conteudo-principal .mapa {
  background-image: url(../images/bg-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  gap: 50px;
}

.conteudo-principal .mapa .texto {
  max-width: 1000px;
  font-family: "MazzardH-Regular";
  color: var(--amarelo-claro);
  font-size: 2.2rem;
  text-align: center;
  padding: 0 25px;
}

.conteudo-principal .mapa .apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.conteudo-principal .mapa .apps a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "MazzardH-Regular";
  color: var(--amarelo);
  border: 2px solid var(--amarelo);
  background-color: var(--preto);
  padding: 15px;
  width: 280px;
  transition: 0.3s ease-in-out;
  font-size: 2.2rem;
}

.conteudo-principal .mapa .apps a .icone {
  width: 50px;
  font-size: 4rem;
}

.conteudo-principal .mapa .apps a:hover {
  background-color: var(--amarelo);
  color: var(--preto);
  border-color: var(--amarelo);
}

/* RODAPÉ */

.rodape {
  background-color: var(--preto);
  padding: 40px 0 20px 0;
}

.rodape .navegacao {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.rodape .navegacao .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 175px;
}

.rodape .redes-sociais {
  display: flex;
}

.rodape .redes-sociais a {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  color: var(--amarelo);
  border: 2px solid var(--amarelo);
  background-color: var(--preto);
  padding: 15px;
  width: 65px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}

.rodape .redes-sociais a:hover {
  background-color: var(--amarelo);
  color: var(--preto);
  border-color: var(--amarelo);
}

.rodape .copyright {
  font-family: "MazzardH-Regular";
  margin-top: 35px;
  text-align: center;
  color: var(--branco);
}

/* RODAPÉ */